.Menu {
	display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.Menu > .active {
    color: rgb(234, 19, 241);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
